/* Basic Reset */

/* Site Colors: #19D3F1 #A235FE #448EFC #0C0526*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Orbitron;
    src: url(fonts/Orbitron/Orbitron-VariableFont_wght.ttf) format("truetype");
}

@font-face {
    font-family: Zalando_Sans_Expanded;
    src: url(fonts/Zalando_Sans_Expanded/ZalandoSansExpanded-VariableFont_wght.ttf) format("truetype");
}

body {
    font-family: Zalando_Sans_Expanded, Arial, sans-serif;
    background-color: #19D3F1;
    line-height: 1.5;
    padding-bottom: 50px;
    color: #A235FE;
}

/* HEADER */
header {
    font-family: Orbitron, Arial, sans-serif;
    display: flex;
    align-items: center;
    padding: 20px;
    background: #0c0526;
    border-bottom: 2px solid #448EFC;
    color: #19D3F1;
}

.logo {
    font-size: 1rem;
    font-weight: bold;
    margin-right: 15px;
    text-decoration: none;
    color: #0c0526;
}

.logo img {
    height: 100px;
    width: auto;
    border-radius: 8px;
}

header h1 {
    font-size: 5rem;
    letter-spacing: 1px;
}

/* PURPOSE */
.purpose {
    padding: 20px;
    text-align: center;
    background: #ffffff;
    border-bottom: 1px solid #ddd;
}

/* PICK OF THE WEEK */
.pick-of-week {
    padding: 20px;
    background: #0c0526;
    margin-top: 20px;
    border-radius: 8px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 5px #0c0526;
}

.pick-of-week h2 {
    margin-bottom: 10px;
    text-align: center;
}

.pick-of-week a:hover {
    color: #448EFC;
}

.pow-container {
    text-align: center;
}

.pow-container img {
    width: 100%;
    max-width: 450px;
    border-radius: 8px;
    margin-bottom: 10px;
}

/* ACTIVITIES SECTION */
.activities {
    width: 90%;
    margin: 30px auto;
}

.activities h2 {
    text-align: center;
    margin-bottom: 15px;
}

.activity {
    display: flex;
    align-items: center;
    background: white;
    margin: 15px 0;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 5px #0c0526;
}

.activity img {
    width: 250px;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 20px;
}

/*Feedback section*/

#p3 {
    background-color: white;
    width: 80%;
    max-width: 500px;
    height: auto;
    border-radius: 50px;
    font-size: 30px;
    text-align: center;
    margin: 50px auto;
}


/* Form Box Styling */
.form-box1,
.form-box2 {
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
    background: white;
    padding: 20px 25px;
    border-radius: 12px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}



/* Labels & Inputs */
label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

input,
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}

/* Buttons */
button {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    background-color: #2c3e50;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
}

button:hover {
    background-color: #1b2836;
}

/* FOOTER */
footer {
    margin-top: 30px;
    padding: 20px;
    background: #e2e2e2;
    text-align: center;
    border-top: 2px solid #ccc;
}

footer nav {
    margin-top: 10px;
}

footer a {
    margin: 0 10px;
    color: black;
    text-decoration: underline;
}

footer a:hover {
    color: #448EFC;
}